body {
    background-color: rgb(34, 34, 34);
    color: aliceblue;
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #353536;
    padding: 20px;
    border-radius: 10px;
    font-weight: 500;
    box-shadow: 0 0 10px 5px #1f1f1f;
}
input {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: azure;
}
button {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #39547c;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #4a6aa1;
}

button:active {
    background-color: #2e3e5f;
}